{% load static %}
<!doctype html>
<html lang="en" data-theme="pastel">
  <head>
    {% include "app/partials/head.html" %}
    <link rel="stylesheet" href="{% static 'app/styles/index.css' %}">
  </head>
  <body class="min-h-[100vh] flex flex-col">
    <header>
      {% include "app/partials/nav.html" %}
    </header>
    <main id="main-page" class="bg-[#C6E2E9] flex-1 flex flex-col">
      <div class="overflow-hidden bg-[#FFCAAF] p-2">
        <p class="scroll-text text-nowrap translate-x-[100%] text-xs font-DM font-bold">Buy inflatable toys and castles from the most trusted manufacturer in the world! Buy inflatable toys and castles from the most trusted manufacturer in the world! Buy inflatable toys and castles from the most trusted manufacturer in the world! Buy inflatable toys and castles from the most trusted manufacturer in the world! Buy inflatable toys and castles from the most trusted manufacturer in the world! Buy inflatable toys and castles from the most trusted manufacturer in the world!</p>
      </div>
      <div class="md:grid grid-cols-2 items-center flex-1">
        <div class="flex justify-center items-start pt-5 col-start-2 col-end-3">
          <img class="w-[80%] object-contain" src="{% static 'app/images/castle-hero.png' %}"/>
        </div>
        <div class = "row-start-1 row-end-2 col-start-1 col-end-2">
          <p class="text-xl pl-8 pr-12 pt-5 font-normal font-Playfair md:text-5xl">Our Inflatables are crafted for Quality, Longevity, and Fun!</p>
          <button class="btn btn-neutral m-8 px-5 font-DM">SHOP NOW</button>
        </div>
      </div>
    </main>
    <script src="{% static "app/scripts/htmx.min.js" %}"></script>
  </body>
</html>
